	<h1><%= "Contact ID: #{params[:id]}" %></h1>
	<h3><a href="/">Go home</a><br></h3>
	<b><%= @contact.name %></b><br>
	<% @contact.phonenumbers.each do |number| %>
		<%= number.phonenumber %>
	<% end %>
	<br>
	<% @contact.emails.each do |i| %>
		<%= i.email %>
	<% end %>

